body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#dvdLogo {
  width: 100px;
  height: 50px;

  position: fixed;
  top: 50vh;
  transition: 10ms;
  z-index: -1;

  border: 1px solid red;
  mask: url("https://dvd.ashutoshwagh.com/dvd-logo.svg");
  -webkit-mask: url("https://dvd.ashutoshwagh.com/dvd-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

#controls-box {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 4rem;
  height: 4rem;
}

#controls-box > img {
  filter: invert(1);
  width: 2rem;
  object-fit: contain;
  margin: 1rem;
  /* background-color: red; */
}

#controls-box > div {
  position: absolute;
  top: 0.6rem;
  right: -14rem;
  background-color: wheat;
  width: 12rem;
  min-height: 5rem;
  border-radius: 8px;
  padding: 0.8rem;
  transition: 300ms;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#controls-box:hover > div {
  right: 1rem;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#git-logo {
  /* height: 1rem; */
  width: 100%;
  align-self: center;
  object-fit: contain;
}

#Speed {
  display: grid;
  grid-template-columns: auto 2rem;
}

#outputSpeed {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
